[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "lodepng"]
	path = lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "IconFontCppHeaders"]
	path = IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
